---
permalink: /goals
---
{% include head.html %}
{% include navbar.html %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 goals">
            <h1>Goals</h1>
            <hr>
            <p>
                Goal setting is crucial to the success of the NJCSSA. 
            </p>
            <h3>Completed Goals</h3>
            <hr>
            <p><span>&#9745;</span> Recruit 10 volunteer instructors - 12/14/18</p>
            <p><span>&#9745;</span> Run first Instroduction to Python Class - 4/13/19</p>
            <p><span>&#9745;</span> Become official 501(c)(3) non-profit organization - 5/1/19</p>
            <h3>Goals to be completed</h3>
            <hr>
            <p><span>&#9744;</span> Get 1 corporate sponsorship</p>
            <p><span>&#9744;</span> Recruit 30 volunteer instructors</p>
            <p><span>&#9744;</span> Create multiple classes for different topics</p>
            <p><span>&#9744;</span> Hold multiple classes concurrently</p>
            <h3>Tech House</h3>
            <hr>
            <img class="center-block" src="img/about/tech-house.jpg">
            <br>    
            <p>
                The Tech House is a project of the Urban League of Essex County and Newark Kids Code, a program of ULEC and whose director is
                Darrin Sharif. The goal of Tech House is to provide a 24/7 learning space for Newark students in technical areas. 
                The NJCSSA will help to make Tech House a success by providing classes through our instructors and curriculum once it is operating. 
                We will also help to promote fundraising efforts for the Tech House.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="footer-about-us">
    {% include footer.html %}
</div>

