---
permalink: /goals
---
{% include head.html %}
{% include navbar.html %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Goals</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Completed Goals</h3>
            <p>&#9989; Run first Instroduction to Python Class</p>
            <p>&#9989; Recruit 10 volunteer instructors</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Goals to be completed</h3>
            <p>&#10060; Recruit 30 volunteer instructors</p>
        </div>
    </div>
</div>
