---
permalink: /goals
---
{% include head.html %}
{% include navbar.html %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Goals</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Completed Goals</h3>
            <p><span style="font-size: 1.5em">&#9745;</span> Run first Instroduction to Python Class - 4/31/19</p>
            <p><span style="font-size: 1.5em">&#9745;</span> Recruit 10 volunteer instructors - 12/14/18</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Goals to be completed</h3>
            <p><span style="font-size: 1.5em">&#9744;</span> Get 1 corporate sponsorship</p>
            <p><span style="font-size: 1.5em">&#9744;</span> Recruit 20 volunteer instructors</p>
            <p><span style="font-size: 1.5em">&#9744;</span> Recruit 30 volunteer instructors</p>
        </div>
    </div>
</div>
