---
permalink: /graduations
---
{% include head.html %}
{% include navbar.html %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Graduations</h1>
            <hr>
            <h3>Spring 2019</h3>
            <p>Class Name: Introduction to Python Programming Pilot</p>
            <p>Number of Students: 7</p>
            <p>Duration: 10 weeks, 8hrs/week</p>
            <p>Language used: Python</p>
            <p>Topics Taught: variables, conditional statements, looping, functions, returning values, 
                parameters, searching algorithms, sorting algorithms, graphics through the Python Turtle API
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="footer-about-us">
    {% include footer.html %}
</div>
