---
permalink: /history
---
{% include head.html %}
{% include navbar.html %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>History</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                The New Jersey Computer Science Student Alliance was founded in August 2018 by Ben Campbell. The idea of the NJCSSA
                came after Ben had completed teaching a month long Python coding course for Newark Middle Schoolers at Link Charter
                Academy. Ben decided to hold the Python coding class because he was interested in teaching computer science. His AP
                computer science teacher was a big inspiration. Additionally, a program at Rutgers called the Undergraduate Student
                Alliance of Computer Science inspired Ben in the eventual creation of the NJCSSA. The NJCSSA and USACS have a lot in
                common. Both are focused on helping students learn computer science through peer to peer mentoring. The slight
                differences are that USACS is run by college students. The NJCSSA, as of May 2019, is focused solely on high school
                students.
                <br>
                <br>
                In May 2019 the NJCSSA became a 501c3 non-profit. You can read the blog post about the process [here].
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
