---
permalink: /history
---
{% include head.html %}
{% include navbar.html %}
<div class="container" style="margin-top: 6em">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>History</h1>
            <hr>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                The New Jersey Computer Science Student Alliance was founded in August 2018 to bring high quality computer science education to 
                Newark students. The idea grew out of a small pilot class done at Link Charter School that summer. The students who signed up 
                were motivated and the teachers were especially supportive of bringing CS education to Newark. It also seemed that there was 
                an untapped resource of CS teachers from the surrounding suburbs that could teach computer programming.
                <br>
                <br>
                To test the idea, many schools in the surrounding suburbs were contacted. Around 15 high school students ended up registering 
                to become teachers.
                <br>
                <br>
                Later that year, the NJCSSA partnered with the Urban League of Essex County to host a month long Python programming class. The 
                ULEC provided space and laptops to host the class. The NJCSSA also formed a relationship with Newark Public Schools to register 
                highly motivated students for classes.
                <br>
                <br>
                In February 2019, the first ten week class started with 7 students completing the class. It was a great learning opportunity for 
                instructors on how to teach and organize and class. The Newark high school students became much better programmers, even those with 
                prior experience. The class ended up making some fun games for the final project including Snake, Hangman, and Pong.
                <br>
                <br>
                The NJCSSA hosts 2 classes per year. A 10 week class in the spring and a 4 week class in the summer. The 10 week class focuses on 
                high school students, while the 4 week class focuses on high school and high achieving middle school students. For the past two years, 
                the NJCSSA has been fortunate to hold classes at Link Charter School.
                <br>
                <br>
                The 4 week class this summer was a success and you can read more about it <a href="/2019/10/23/summer2019-summary.html">here</a>. Bringing in guest speakers who worked as software 
                developers was something new the NJCSSA did for this class. The students learned a lot from their experiences and the NJCSSA plans to 
                invite more guest speakers for future classes. Please send me an email if you would like to become a guest speaker
                (<a href="mailto:ben@njcssa.org">ben@njcssa.org</a>).
                <br>
                <br>
                The NJCSSA also became a 501(c)3 nonprofit in April 2019. We don’t accept monetary donations yet. Instead we are interested in used 
                laptop donations for future expansion of class sizes. You can donate at this link: <a href="/donate">https://njcssa.org/donate</a>
                <br>
                <br>
                Please feel free to contact me with any questions: <a href="mailto:ben@njcssa.org">ben@njcssa.org</a>

            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="footer-about-us">
    {% include footer.html %}
</div>
