---
permalink: /history
---
{% include head.html %}
{% include navbar.html %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>History</h1>
            <hr>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Summary:</h3>
            <p>
                The New Jersey Computer Science Student Alliance was founded in August 2018 by Ben Campbell. 
                The idea of the NJCSSA came after Ben had completed teaching a month-long Python coding course for 
                middle schoolers at Link Charter Academy in Newark.  Ben designed the Python coding class because 
                he was interested in teaching computer science. His AP computer science teacher was a big inspiration to him. 
                Additionally, a program at Rutgers called the <a href="http://usacs.rutgers.edu/">Undergraduate Student Alliance of Computer Scientists</a>
                inspired Ben. The NJCSSA and USACS have a lot in common &mdash; both are focused on helping students learn 
                computer science through peer to peer mentoring. The primary difference between the two organizations 
                is that USACS is run by Rutgers University students for Rutgers students. The NJCSSA, as of May 2019, 
                is focused solely on high school students teaching other high school students.
                <br>
                <br>
                In May 2019 the NJCSSA became a 501(c)(3) non-profit organization. You can read the blog post about 
                the process <a href="/2019/04/26/non-profit">here</a>.
            </p>
            <br>
            <h3>Long Version:</h3>
            <p>        
                Ben Campbell started the NJCSSA to teach coding to under-resourced high school students in Newark, New Jersey. 
                He has partnered with community members in Newark to hold classes. The first 10 week class for the pilot program 
                started on January 28, 2019.
                <br>
                <br>
                Ben comes from a community where he had access to classes like AP Computer Science and passionate teachers to 
                help him out. In surrounding towns, there are many kids like him who have taken advantage of opportunities to learn 
                computer science. Ben wanted to apply what he had learned in his AP CS class, so he decided to teach middle schoolers 
                the basics of programming. He was also experimenting with whether he liked teaching and if it could be a viable career 
                for him. After teaching a month-long Python class in Newark in the summer of 2018, he determined that a Python class 
                could be taught during the school year if he could get a team of volunteers together. Part of his inspiration for the 
                NJCSSA came from the Undergraduate Student Alliance of Computer Scientists at Rutgers University. USACS is very similar 
                to the NJCSSA because it focuses on peer to peer mentoring in computer science. 
                <br>
                <br>
                In September 2018, Ben started the NJCSSA by drafting a website using Jekyll and GitHub Pages: njcssa.org. 
                For 3 months he emailed and called CS teachers from local high schools asking them to promote his program. Out 
                of 20 emails, he only got 1 response. He changed his tactics and instead started to email guidance counselors. 
                Why? Because they need to get kids into college. Volunteering in something like the NJCSSA would look great on college 
                applications. This time, Ben had a much greater response rate with about 10 guidance counselors getting back to him.
                <br>
                <br>
                What makes the NJCSSA stand out is its focus on "learning how to learn". While many students in Newark do not have the 
                same opportunities as some of the instructors, they can still become great programmers with a desire, a device, and an 
                internet connection. Ben acquired this mindset when he taught himself how to build a fully-fledged website using Python Flask. 
                He did not know anything before starting, and he did not have a teacher &mdash; only a desire and the wealth of resources available 
                to him on the internet. The NJCSSA teaches kids how to learn by teaching them the basics in the first half of the course and then 
                letting them loose on the Python Turtle API. This is a simple API, but it teaches the fundamentals of being a self-taught programmer.
                <br>
                <br>
                For the Python coding pilot program, Ben was able to recruit 15 high school volunteers. He designed a 10 week curriculum, 
                including slideshows and practice problems, covering approximately 80 instruction and "lab" hours. Several instructors 
                contributed practice problems to enlarge the curriculum. 
                The practice problems can be found on <a href="https://github.com/njcssa/njcssa-python-practice-probs">github</a>.
                <br>
                <br>
                In May 2019, the NJCSSA was incorporated as a 501(c)(3) non-profit organization. This status will allow the NJCSSA to 
                accept tax-deductible donations from donors. You can read more about the process <a href="/2019/04/26/non-profit">here</a>.
                <br>
                <br>
                The NJCSSA plans to hold a month-long summer class in July 2019. Stay tuned for more details.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="footer-about-us">
    {% include footer.html %}
</div>
