---
permalink: /partnerships
---
{% include head.html %}
{% include navbar.html %}
<div class="container" style="margin-top: 6em">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Partnerships</h1>
            <h3>The Electronic Access Foundation & Laptop Upcycle</h3>
            <p>
                The Electronic Access Foundation and Laptop Upcycle are both charity organizations that donate refurbished laptops 
                for charitable projects. Ben was fortunate to get their support for running his Python coding class for middle 
                school students in July 2018. They provided 6 refurbished MacBook Pros for the students who graduated from that 
                class. Many of the students did not have their own devices at home for school work or programming, so they were all 
                very excited to receive laptops that they could keep at the end of the class. The NJCSSA is grateful to have these 
                organizations as partners. 
                <br>
                <br>
                The Electronic Access Foundation website: <a href="https://e-access.org/">e-access.org</a>
                <br>
                Laptop Upcycle website: <a href="http://www.laptopupcycle.org/">laptopupcycle.org</a>
            </p>
            <br>
            <h3>Link Community Charter School</h3>
            <p>
                Link Community Charter School is a charter school in Newark, NJ serving grades 5-8. They focus on providing a quality
                education to students in Newark, Irvington, East Orange, and other surrounding towns. They have a proven track record
                of sending students with economic hardships to prestigious boarding schools, private schools, and public magnet schools.
                <br>
                <br>
                The NJCSSA has been fortunate to work with Link for the past two years. They have been extremely generous to the NJCSSA.
                This year they provided free breakfast and lunch to all students in the program. Both years, they allowed us to use their
                computer lab for the month-long course. The NJCSSA hopes to keep working with Link Charter School in the future.
                <br>
                <br>
                Link's Website: <a href="https://linkschool.org/">linkschool.org</a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="footer-about-us">
    {% include footer.html %}
</div>