---
permalink: /partnerships
---
{% include head.html %}
{% include navbar.html %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Partnerships</h1>
            <h3>Newark Kids Code</h3>
            <p>
                Newark Kids Code is a coding outreach program in Newark focused on middle schoolers. Under the Newark Kids Code model,
                Honors College students from the New Jersey Institute of Technology teach middle schoolers. Darrin Sharif 
                is the director and founder of Newark Kids Code. He works on fundraising and promotion. He partners with professor 
                Michael Lee at NJIT in running the program. Honors College students who are 
                instructors are paid using a National Science Foundation grant that Dr. Lee received.
                <br>
                <br>
                Newark Kids Code and Mr. Sharif, in particular, have been vital to the success of the NJCSSA. Mr. Sharif was helpful in 
                providing contacts in Newark to Ben so that he could get his program started. Mr. Sharif, as a member of the leadership 
                team at the Urban League of Essex County, was able to provide the NJCSSA with teaching space and equipment for the NJCSSA’s 
                inaugural coding class in the Spring of 2019.
                <br>
                <br>
                The NJCSSA and Newark Kids Code are working to create a pipeline of skilled 
                technical talent to serve middle and high school students in Newark.
                <br>
                <br>
                Newark Kids Code website: <a href="http://newarkkidscode.org">newarkkidscode.org</a>
            </p>
            <br>
            <br>
            <h3>The Electronic Access Foundation & Laptop Upcycle</h3>
            <p>
                The Electronic Access Foundation and Laptop Upcycle are both charity organizations that donate refurbished laptops 
                for charitable projects. Ben was lucky to get their support for running his Python coding class for middle schoolers in July, 2018. 
                They provided 6 refurbished MacBook Pros for the students who graduated from that class. Many of the students didn’t have their own device 
                at home for school work or programming, so they were all delighted to receive laptops that they could keep at the end of the class. The NJCSSA is grateful to 
                have these organizations as partners. 
                <br>
                <br>
                The Electronic Access Foundation website: <a href="https://e-access.org/">e-access.org</a>
                <br>
                Laptop Upcycle website: <a href="http://www.laptopupcycle.org/">laptopupcycle.org</a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="footer-about-us">
    {% include footer.html %}
</div>