<section id="about_us">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading">About Us</h2>
            <h3 class="section-subheading text-muted">Learn more by clicking on a category</h3>
        </div>
        <div class="row center-block">
            <a href="/history">
                <div class="col-md-6 about-us-item">
                    <img class="img-rounded img-responsive" src="/img/about_us/history.jpg">
                    <p>History</p>
                </div>
            </a>
            <a href="/partnerships">
                <div class="col-md-6 about-us-item">
                    <img class="img-rounded img-responsive" src="/img/about_us/team.jpg">
                    <p>Partnerships</p>
                </div>
            </a>
        </div>
        <br>
        <div class="row center-block">
            <a href="/goals">
                <div class="col-md-6 about-us-item">
                    <img class="img-rounded img-responsive" src="/img/about_us/goals.jpg">
                    <p>Goals</p>
                </div>
            </a>
            <a href="/graduations">
                <div class="col-md-6 about-us-item">
                    <img class="img-rounded img-responsive" src="/img/about_us/graduation.jpg">
                    <p>Graduations</p>
                </div>
            </a>
        </div>
    </div>
</section>