<section id="about_us">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">About Us</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4 about-us-item">
                <img src="/img/portfolio/progress-thumbnail.png">
                <a href="/history">History</a>
            </div>
            <div class="col-md-4 about-us-item">
                <img src="/img/portfolio/progress-thumbnail.png">
                <a href="/partnerships">Partnerships</a>
            </div>
            <div class="col-md-4 about-us-item">
                <img src="/img/portfolio/progress-thumbnail.png">
                <a href="/goals">Long-Term Goals</a>
            </div>
        </div>
    </div>
</section>