<!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="http://newarkkidscode.org/">
                        <img src="img/logos/nkc.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                        <a href="https://e-access.org/">
                            <img src="img/logos/eaf.jpg" class="img-responsive img-centered" alt="">
                        </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="http://www.laptopupcycle.org/">
                        <img src="img/logos/laptopupcycle.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>