<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join our Team</h2>
                    <h3 class="section-subheading" style="color:#caccce">Please fill out the Google Form and then use Discord. Discord makes it a lot easier to talk, but if you don't want to use that you can email me at ben@njcssa.org</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3 text-center widget" id="iframe">
                        </div>
                        <div class="col-md-9 text-center widget" id="iframe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>


var w = window.innerWidth;
var formWidth = 300;
if (w > 800) {
    formWidth = w / 2 - 200;
}

var makeDiscordIframe = document.createElement("iframe");
makeDiscordIframe.setAttribute("src", "https://discordapp.com/widget?id=491619339087118336&theme=dark");
makeDiscordIframe.setAttribute("height", "500");
makeDiscordIframe.setAttribute("width", "300");
makeDiscordIframe.setAttribute("frameborder", "0");
makeDiscordIframe.setAttribute("allowtransparency", "true");

var makeFormIframe = document.createElement("iframe");
makeFormIframe.setAttribute("src", "https://docs.google.com/forms/d/e/1FAIpQLSfiWNuf6bWDjeKHd9arR3Iqt9Gp0OQEXIxABasWByMfu1iEEQ/viewform?embedded=true");
makeFormIframe.setAttribute("height", "500");
makeFormIframe.setAttribute("width", String(formWidth));
makeFormIframe.setAttribute("frameborder", "0");
makeFormIframe.setAttribute("marginheight", "0");
makeFormIframe.setAttribute("marginwidth", "0");

var e = document.getElementsByClassName("widget");
e.item(0).appendChild(makeDiscordIframe);
e.item(1).appendChild(makeFormIframe);

</script>
