<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join our Team</h2>
                    <h3 class="section-subheading" style="color:#caccce">Please fill out the Google Form and then use Discord. Discord makes it a lot easier to talk, but if you don't want to use that you can email me at ben@njcssa.org</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6 text-center" id="iframe">
                            <iframe src="https://discordapp.com/widget?id=491619339087118336&theme=dark" height="500" allowtransparency="true" frameborder="0"></iframe>
                        </div>
                        <div class="col-md-6 text-center" id="iframe">
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSckpwqEAEXy8vodj6_bjmTw6tK_a8GUhGL8lQYATv_x1oPhHQ/viewform?embedded=true" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
