<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading" style="color:#caccce">Please fill out the form and then use Discord because it makes it a lot easier to talk.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <iframe src="https://discordapp.com/widget?id=491619339087118336&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                        </div>
                        <div class="col-md-6 text-center">
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSckpwqEAEXy8vodj6_bjmTw6tK_a8GUhGL8lQYATv_x1oPhHQ/viewform?embedded=true" width="350" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
