<section id="faq" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQ</h2>
            </div>
        </div>
        <div class="row col-xs-12">
            <h3>Do instructors make money?</h3>
            <p>Not right now. We may have funds to pay instructors once we get funding from large corporations. Before this, we have to prove that NJCSSA is a success on a small scale with limited funding.
                Also for those who are curious, the founder doesn't make money from this organization either.
            </p>
            <br>
            <h3>How will teaching work?</h3>
            <ul>
                Structured Curriculum
                <ul>
                    <li>
                        Several instructors will teach the kids the basics of Python, JS, or another language.
                    </li>
                    <li>
                        The structured classes will be held several times a week and will consist of lectures and lab/problem solving sessions.
                    </li>
                    <li>
                        The kids will move through a structured curriculum to gain the skills necessary to become <u>independent</u> learners.
                    </li>
                </ul>
                <br>
                <p>
                    Instructors who are not ready yet to teach a formal class will act as support for kids who have questions during the lessons. They will also act as helpers 
                    for those who have moved on to the unstructured curriculum.
                </p>
                <br>
                Unstructured Curriculum
                <ul>
                    <li>
                        After mastering the basics, the students move on to the unstructured curriculum which consist of lab/problem solving sessions.
                    </li>
                    <li>
                        At NJCSSA we value teaching kids how to solve problems on their own. The future of learning is self-learning.
                    </li>
                    <li>
                        That is why we promote the "Google/StackOverflow Strategy". This means that the kid should 
                        Google the question, come up with probable solutions, implement them, and if they are truly stuck come to an instructor.
                    </li>
                    <li>
                        This philosophy creates students who are self-sufficient.
                    </li>
                </ul>
            </ul>
            <br>
            <h3>What is an example of unstructured learning?</h3>
            <p>
                For example, a student may want to make a game but may not have all of the programming experience, beyond what we gave them in the structured curriculum, to be successful. We might start them out on 
                <a href="https://docs.python.org/3.3/library/turtle.html?highlight=turtle">Python's turtle game</a> to get them thinking about drawing graphics in the most basic sense.
                Once they have mastered the turtle game, they may move on to <a href="https://www.pygame.org/tags/all">Pygame</a>. Then when they are proficient, 
                they may independently move on to things like <a href="https://unity3d.com/">Unity</a> and <a href="https://www.unrealengine.com/en-US/what-is-unreal-engine-4">Unreal Engine</a>, which are
                two powerful game engines many modern games are programmed with. We believe in progressive challenges in learning and providing students with the skills to independently meet their challenges.
            </p>
            <br>
            <h3>How much experience is needed?</h3>
            <p>
                NJCSSA requires instructors to have a basic knowledge of programming. There are different roles for instructors; the more experienced will be teaching while the less 
                experienced will be in a support role. The kids will likely have little programming experience and will appreciate any help you can provide. Volunteering with NJCSSA will also be an 
                opportunity for less knowledgeable instructors to improve their skills. If you still have any questions email Ben.
            </p>
            <br>
            <h3>When is the program going to start?</h3>
            <p>
                January 2019. Meetings of instructors will start in December.
            </p>
        </div>
    </div>
</section>
