<section id="faq" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQ</h2>
            </div>
        </div>
        <div class="row col-xs-12">
            <h3>Do instructors make money?</h3>
            <p>Not right now. We may have funds to pay instructors once we get funding from large corporations. Before this, we have to prove that NJCSSA is a success on a small scale with limited funding.
                Also for those curious, the founder doesn't make money from this organization either.
            </p>
            <br>
            <h3>How will teaching work?</h3>
            <ul>
                Structured Curriculum
                <ul>
                    <li>
                        Several instructors who are qualified will be dedicated towards teaching the kids the basics of Python, JS, or another language.
                    </li>
                    <li>
                        The structured classes will be held several times a week.
                    </li>
                    <li>
                        The kids will move through a structured curriculum to gain the skills necessary to become <u>independent</u> learners.
                    </li>
                </ul>
                <br>
                <p>
                    Instructors who are not ready yet to teach a formal class will act as support for kids who have questions during the lessons. They will also act as helpers 
                    for those who have moved on to the unstructured curriculum.
                </p>
                <br>
                Unstructured Curriculum
                <ul>
                    <li>
                        After mastering the basics, the students move on to the unstructured curriculum.
                    </li>
                    <li>
                        At NJCSSA we value teaching kids how to solve problems on their own. The future of learning is self-learning.
                    </li>
                    <li>
                        That is why we promote the "Google/StackOverflow Strategy". This means that the kid should 
                        Google the question, come up with probable solutions, implement them, and if they are truly stuck come to an instructor.
                    </li>
                    <li>
                        This philosophy creates students who are self-sufficient.
                    </li>
                </ul>
            </ul>
            <br>
            <h3>What is an example of unstructured learning?</h3>
            <p>
                For example, a student may want to make a game and they don't have any programming experience beyond what we gave them in the structured curriculum. We might start them out on 
                <a href="https://docs.python.org/3.3/library/turtle.html?highlight=turtle">Python's turtle game</a> to get them thinking about drawing graphics in the most basic sense.
                Once they have mastered the turtle, they may move on to <a href="https://www.pygame.org/tags/all">Pygame</a>. Then when they are proficient, 
                they can move on to things like <a href="https://unity3d.com/">Unity</a> and <a href="https://www.unrealengine.com/en-US/what-is-unreal-engine-4">Unreal Engine</a>, which are
                two powerful game engines many modern games are programmed with. We believe in progressive challenges in learning.
            </p>
        </div>
    </div>
</section>