
<section id="goals" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">Long-term Goals</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 text-center">
                <iframe height="265" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=152%20Littleton%20Avenue%2C%20Newark%2C%20NJ%2C%20USA&key=AIzaSyBFWOFll70lo09AngIygL-CI5ibl5WB4O4" allowfullscreen>
                </iframe>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/img/tech-house.jpg" class="img-responsive img-centered">
            </div>
            <div class="col-lg-4 text-center">
                <img src="/img/corporate.png" class="img-responsive img-centered">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-center">Tech-House</h3>
                <ul>
                    <li>A well-equipped Tech space for kids in Newark</li>
                    <li>Conveniently located next to NJIT and Rutgers Newark campuses</li>
                    <li>Flexible operating hours</li>
                    <li>No tuition or fees for students</li>
                    <li>It will set up a pipleine for skilled talent to flow into Newark</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3 class="text-center">Corporate Partnerships</h3>
                <p class="text-center">The NJCSSA project will operate out of the Urban League of Essex County's office in Newark until rennovations on the Tech House are completed. Organizations
                    such as Google and Panasonic have expressed interest in this project. Depending on the success of the small scale pilot in the Urban League's office, funds from 
                    corporate sponsors may be available.
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <h2 class="section-heading text-center">History</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image expand-item">
                            <a href="#history1" data-toggle="modal">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012</h4>
                                <h4 class="subheading">Newark Kids Code is founded</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The purpose of Newark Kids Code was to give a first class computer science education to talented Newark inner city youth.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted expand-item">
                        <div class="timeline-image">
                            <a href="#history2" data-toggle="modal">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014-2018</h4>
                                <h4 class="subheading">Newark Kids Code runs several coding bootcamps and workshops with the help of NJIT students.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Need info here</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image expand-item">
                            <a href="#history3" data-toggle="modal">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">The Tech House is bought.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The Urban League of Essex County buys a victorian house in West Newark. They have hopes of it becoming a tech center. First, they will need to find funding for it.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted expand-item">
                        <div class="timeline-image">
                            <a href="#history4" data-toggle="modal">
                                <img class="img-circle img-responsive" src="img/about/njcssa200.jpg" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2018</h4>
                                <h4 class="subheading">NJCSSA is founded.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">NJCSSA is founded to provide skilled instructors to kids in the Newark Kids Code program. Successful results will lead to partnerships with large tech companies and will provide the necessary money to get the Tech House project off the ground.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <h2 class="section-heading text-center">Current Situation</h2>
        </div>
        <div class="row">
            <img src="/img/ulec.png" class="img-responsive img-centered">
            <a href="https://goo.gl/maps/x8nX1XBif5C2" style="text-decoration-color: blue;"><p class="text-center" style="color:blue;">508 CENTRAL AVENUE NEWARK, NJ 07107</p></a>
            <br>
            <p>For the first couple of months, we will be working out of a building owned by the Urban League of Essex County. There are about 40 laptops there, and students hungry to learn will be brought in.
                The only thing we are missing are great teachers/instructors. <b>The purpose of this temporary setup is to demonstrate to our potential corporate sponsors that we can effectively use
                    any grant money they give us.</b>
                </b>
            </p>
        </div>
</section>
