
<section id="goals" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">Long-term Goals</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 text-center">
                <iframe height="265" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=152%20Littleton%20Avenue%2C%20Newark%2C%20NJ%2C%20USA&key=AIzaSyBFWOFll70lo09AngIygL-CI5ibl5WB4O4" allowfullscreen>
                </iframe>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/img/tech-house.jpg" class="img-responsive img-centered">
            </div>
            <div class="col-lg-4 text-center">
                <img src="/img/logos.png" class="img-responsive img-centered">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-center">Tech-House</h3>
                <ul>
                    <li>It is a permanent tech space for kids in Newark</li>
                    <li>Conveniently located next to NJIT and Rutgers Newark campuses</li>
                    <li>It will provide a safe space for learning</li>
                    <li>It will set up a pipleine for skilled talent to flow into Newark</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3 class="text-center">Corporate Partnerships</h3>
                <p class="text-center">Corporations like Google and Panasonic are currenly interested in this development. 
                If we can prove that NJCSSA works on a small scale at the Urban League, we are likely to get funding.
                We need funding because renovations to the tech house are going to cost around $200,000</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <h2 class="section-heading text-center">Current Situation</h2>
        </div>
        <div class="row">
            <img src="/img/ulec.png" class="img-responsive img-centered">
            <a href="https://goo.gl/maps/x8nX1XBif5C2" style="text-decoration-color: blue;"><p class="text-center" style="color:blue;">508 CENTRAL AVENUE NEWARK, NJ 07107</p></a>
            <br>
            <p>For the first couple of months, we will be working out of the Urban League building. There are about 40 laptops there, and students hungry to learn will be brought in.
                The only thing we are missing are great teachers/instructors. <b>The purpose of this temporary setup is to demonstrate to our potential corporate sponsors that we can effectively use
                    any grant money they give us.</b>
                </b>
            </p>
        </div>
</section>