
<section id="history">
    <div class="container">
        <div class="row">
                <h2 class="section-heading text-center">History</h2>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li onclick="show(1)">
                            <div class="timeline-image expand-item">
                                <a href="#history1" data-toggle="modal">
                                    <img class="img-circle img-responsive" src="img/about/founding/founding1-circle.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Newark Kids Code is founded</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Urban League of Essex County establishes Newark Kids Code. The mission of Newark Kids Code is 
                                        to create the next generation of software engineers, and use coding as a tool to teach all students to be computational thinkers,
                                        positioning them for sustained professional success in a modern economic landscape.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted expand-item" onclick="show(2)">
                            <div class="timeline-image">
                                <a href="#history2" data-toggle="modal">
                                    <img class="img-circle img-responsive" src="img/about/graduations/graduation-circle.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2018</h4>
                                    <h4 class="subheading">Newark Kids Code runs several coding camps and workshops with the help of NJIT students.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Newark Kids Code, in partnership with NJIT, runs 3 coding camps. 
                                        They graduated 3 classes of students which are taught in the Scratch programming language. As you can see in the pictures when you click 
                                        on the circle, kids were having a lot of fun at this camp. Based on the success of Newark Kids Code, Mr. Sharif started to plan for ways of 
                                        expanding CS opportunities.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li onclick="show(3)">
                            <div class="timeline-image expand-item">
                                <a href="#history3" data-toggle="modal">
                                    <img class="img-circle img-responsive" src="img/about/tech-house/tech-house-circle.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Tech House Purchase</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Urban League of Essex County buys a Victorian house in West Newark. The plan is to make the Tech 
                                        House into a retreat for CS students and teachers and provide a pipeline of talented workers to tech companies 
                                        in Newark and beyond. Funding for the Tech House project is currently under way.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted expand-item" onclick="show(4)">
                            <div class="timeline-image">
                                <a href="#history4" data-toggle="modal">
                                    <img class="img-circle img-responsive" src="img/about/njcssa200.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2018</h4>
                                    <h4 class="subheading">NJCSSA is founded.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The NJCSSA is founded to recruit skilled peer instructors. In partnership with Newark Kids Code, the NJCSSA will 
                                        offer coding programs to students from Newark high schools. Successful results will lead to partnerships with large tech 
                                        companies and will provide the necessary money to get the Tech House project off the ground.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <h2 class="section-heading text-center">Current Situation</h2>
            </div>
            <div class="row col-xs-12">
                <img src="/img/about/ulec.png" class="img-responsive img-centered">
                <a href="https://goo.gl/maps/x8nX1XBif5C2" style="text-decoration-color: blue;"><p class="text-center" style="color:blue;">508 CENTRAL AVENUE NEWARK, NJ 07107</p></a>
                <br>
                <p>Initially, the NJCSSA will be working out of a building owned by the Urban League of Essex County. Each student entering the program will be provided with a laptop on loan. 
                    Classes will be held on several weekdays after school and on weekends for 10 week sessions.
                    <b>The purpose of this temporary setup is to demonstrate our potential to corporate sponsors.</b>
                </p>
            </div>
        
        <div class="row" style="margin-top: 50em">
            <h2 class="section-heading text-center">Long-term Goals</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 text-center">
                    <img src="/img/about/corporate.png" class="img-responsive img-centered">
            </div>
            <div class="col-lg-4 text-center">
                <iframe height="265" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=152%20Littleton%20Avenue%2C%20Newark%2C%20NJ%2C%20USA&key=AIzaSyBFWOFll70lo09AngIygL-CI5ibl5WB4O4" allowfullscreen>
                </iframe>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/img/about/tech-house.jpg" class="img-responsive img-centered">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-center">Corporate Partnerships</h3>
                <p class="text-center">The NJCSSA project will operate out of the Urban League of Essex County's office in Newark until renovations on the Tech House are completed. Organizations
                    such as Google and Panasonic have expressed interest in this project. The success of the NJCSSA pilot at the Urban League's office, along with ongoing Newark Kids Code programs,
                    will support fundraising efforts from corporate sponsors.
                </p>
            </div>
            <div class="col-lg-6">
                <h3 class="text-center">Tech-House</h3>
                <ul>
                    <li>A well-equipped Tech space for kids in Newark, owned by the Urban League of Essex County</li>
                    <li>Conveniently located next to NJIT and Rutgers Newark campuses</li>
                    <li>Flexible operating hours</li>
                    <li>No tuition or fees for students</li>
                    <li>A pipeline for skilled talent to flow into Newark</li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
</section>
