<!DOCTYPE html>
<html>

  {% include head.html %}
    <!--layout for every post - will be the same for every post-->
    {% include navbar2.html %}
    {% for post in site.posts %}
        {% if post.link == page.id %}
            <div class="container">
                <h1>{{ post.title }}</h1>
                <p style="color: #777; font-size: 1em;">{{ post.date }}</p>
                <img class="img-responsive" src="/img/portfolio/{{ post.img }}">
                <h3>{{ post.subtitle }}</h3>
                <p style="font-size: 1em">{{ post.description }}</p>
            </div>
            {% break %}
        {% endif %}
    {% endfor %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>