<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include volunteers.html %}
    {% include goals.html %}
    {% include portfolio_grid.html %}
    <!--removed include about.html here-->
    {% include team.html %}
    {% include faq.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include history_modals.html %}
    {% include js.html %}

    </body>
</html>