<!DOCTYPE html>
{% include head.html %}
<html>
    {% include navbar.html %}
    <div class="container" style="margin-bottom: 5em; margin-top: 2em">
        <div class="col-md-8 col-md-offset-2">
            <h1>{{ page.title }}<h1>
            <p class="text-muted" style="font-size: 14px">{{ page.date }}</p>
            <img src="{{ page.img }}" class="img-responsive img-centered" style="margin-bottom: 2em; margin-top: 1em">
            <div style="font-family: 'Merriweather', serif; text-transform: none; font-weight: 500;">
                {{ content }}
            </div> 
        </div>
    </div>
    {% include share-bar.html %}
    {% include footer.html %}
</html>