<!DOCTYPE html>
{% include head.html %}

<html>
    {% include navbar.html %}
    <div class="container" style="margin-bottom: 6em; margin-top: 6em">
        <div class="col-md-8 col-md-offset-2">
            <h1>{{ page.title }}</h1>
            <p class="text-muted" style="font-size: 14px">{{ page.date }}</p>
            {% if page.img %}
                <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" style="margin-bottom: 2em; margin-top: 1em">
            {% endif %}
            <div style="font-family: 'Merriweather', serif; text-transform: none; font-weight: 500;">
                {{ content }}
            </div> 
        </div>
    </div>
    {% include share-bar.html %}
    {% include footer.html %}
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
</html>